article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden] {
	display: none;
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
a:active,
a:hover {
	outline: 0;
}
h1 {
	font-size: 2em;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b,
strong {
	font-weight: 700;
}
dfn {
	font-style: italic;
}
mark {
	background: #ff0;
	color: #000;
}
code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: \201c \201d \2018 \2019;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0;
}
svg:not(:root) {
	overflow: hidden;
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}
button,
input {
	line-height: normal;
}
button,html input[type=button],/* 1 */input[type=reset],input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],
input[disabled] {
	cursor: default;
}
input[type='checkbox'],
input[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}
input[type='search'] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body,
figure {
	margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: '';
	clear: both;
	height: 0;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.visuallyHidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(00 0 0);
	overflow: hidden;
}

///======================///
// Log In
///======================///

.login {
	margin: auto;
}

.formContainer {
	padding: 8% 0 0;
	margin: auto;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	position: relative;
	z-index: 1;
	background: #ffffff;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 5px;
}

.form input {
	font-family: 'Roboto', sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4caf50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
	background: #43a047;
}

.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.form .message a {
	color: #4caf50;
	text-decoration: none;
}

.container {
	position: relative;
	z-index: 1;
	max-width: 300px;
	margin: 0 auto;
}

.container:before,
.container:after {
	content: '';
	display: block;
	clear: both;
}

.container .info {
	margin: 50px auto;
	text-align: center;
}

.container .info h1 {
	margin: 0 0 15px;
	padding: 0;
	font-size: 36px;
	font-weight: 300;
	color: #1a1a1a;
}

.container .info span {
	color: #4d4d4d;
	font-size: 12px;
}

.container .info span a {
	color: #000000;
	text-decoration: none;
}
.container .info span .fa {
	color: #ef3b3a;
}

/* USER-GENERATED STYLES */

html {
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 1.6rem;
}

p {
	font-size: 1.4rem;
	font-weight: 400;
}

input {
	padding-left: 1rem;
}

a:visited,
a:link,
a:focus {
	color: #fff;
	font-size: 1.4rem;
	font-weight: 500;
	text-decoration: none;
}

.twoColumn {
	display: flex;
	height: 100vh;
}

.sideBar {
	flex: 0 0 250px;
	padding: 3rem 0 6rem 3rem;
	background-color: #1d6adb;
	color: #fff;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: ;
	justify-content: space-between;
}

.main {
	background: #f4f4f4;
}

.projectDetails {
	margin-bottom: 3rem;
	background: #fff;
	padding: 2rem 1.5rem 2rem 4rem;
	box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
}

.projectDetails h1 {
	margin-bottom: 1rem;
}

.listContainer {
	display: flex;
	overflow-x: scroll;
	height: calc(100vh - 13rem);
	width: calc(100vw - 250px);
	padding-bottom: 3rem;
}

.list {
	margin-right: 2.6rem;
	height: 100%;
	background: #fff;
	padding: 2rem 1.5rem;
	border-radius: 5px;
	box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
}

.list:first-child {
	margin-left: 3rem;
}

.listHeader {
	margin-bottom: 1rem;
	position: relative;
}

.cardContainer {
	background: #f7f7f7;
	border-radius: 5px;
	width: 272px;
	margin-bottom: 2rem;
	overflow-y: scroll;
	height: calc(100vh - 28rem);
}

.card {
	background: #fff;
	border-radius: 5px;
	padding: 2rem 1.75rem;
	font-size: 1rem;
	font-weight: 500;
	list-style: none;
	position: relative;
	margin: 1rem 1rem;
}

/* .card:not(:last-child) {
	margin-bottom: 1rem;
} */

.card .deleteCard {
	position: absolute;
	right: 13px;
	top: 7px;
}

.deleteCard:visited,
.deleteCard:link,
.deleteCard:focus {
	color: #c4c4c4;
	transition: color 0.2s;
}

.deleteCard:hover {
	color: #cc0000;
}

.newListInput {
	height: 3.85rem;
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

.newList .cardContainer {
	height: 15rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.addIcon {
	background: #fff;
	padding: 13px;
	border-radius: 50%;
	font-size: 1.2rem;
}

.newCard {
	height: 30px;
	font-size: 1.2rem;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 5px;
}

.logo {
	margin-bottom: 2rem;
}

.logo h1 {
	font-size: 1.6rem;

	text-transform: uppercase;
}

nav h2 {
	font-size: 1.2rem;
	color: #878787;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

nav ul {
	list-style: none;
	margin-bottom: 2rem;
	position: relative;
}

nav li {
	font-size: 1.4rem;
	font-weight: 500;
	padding: 1rem 0;
	transition: all 0.2s;
}

nav li:hover {
	background-color: #2275ef;
}

nav a {
	margin: 1rem 1rem;
	text-decoration: none;
}

nav a:visited,
nav a:link,
nav a:focus {
	color: #fff;
}

.active {
	background-color: #2275ef;
}

#newList {
	width: 272px;
}

#newProject {
	width: 175px;
}

.deleteList {
	position: absolute;
	right: 13px;
	top: 10px;
}

.deleteList:visited,
.deleteList:link,
.deleteList:focus {
	color: #c4c4c4;
	transition: color 0.2s;
}

.deleteList:hover {
	color: #cc0000;
}

/* .main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
} */

.start {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	width: calc(100vw - 250px);
	height: 100vh;
}

.createProject {
	text-align: center;
	background: #fff;
	border-radius: 5px;
	margin: 0 auto;
	padding: 4rem;
	box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
}

.createProject h1 {
	max-width: 50rem;
	margin-bottom: 2rem;
}

.createProject .btn {
	margin: 0 0.5rem;
}

.btn:disabled {
	background: bisque;
}

#selectProject {
	background: #97db1d;
}

.btn {
	background-color: #ffa700;
	padding: 1rem 2rem;
	margin: 0 auto;
	border-radius: 5px;
	border: 0;
	font-family: inherit;
	color: #fff;
	font-size: 1.2rem;
}

input:focus {
	border: 3px solid #ffa700;
}

.signOut {
	padding: 1rem 0;
}

.signOut:hover {
	background: #2275ef;
}

.signOut a {
	padding-left: 1rem;
}

.projectNav li:focus {
	border: 3px solid #ffa700;
}

///======================///
// PROJECT
///======================///

#project {
	margin-left: 3rem;
}
